<!DOCTYPE html>
<html>

<head>
        <style>body{
                background-color: lightslategray;
            }</style>
    <title>ITC230 Movie</title>
</head>

<body>
    <h1>Add Movie to Database</h1>

    <em>Movie Title:</em>

    <form action="/api/added/" method="post">
        <legend>Movie Name:</legend>
            <input type=text name="movieName">
        <legend>Producer</legend>
            <input type=text name="producer">
        <legend>Release Date:</legend>
            <input type=text name="release">
        <button>submit</button>
    </form>




</body>

</html>