<!DOCTYPE html>
<html>

    <head>   
            <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
            <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
            <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        <title>ITC230 Movie</title>
        <style>body{
                background-color: lightslategray;
            }</style>
    </head>

    <body>
        <h2>ITC230 Movie Database</h2>

        <fieldset style="margin-right: 50%;">
        <h3>Movie Search</h3>
        <form action="/detail" method="post">
            <legend>Enter Movie Title:</legend>
                <input type=text name="movieName">
                <br>
                <br>
            <button>Submit</button>
            
        
        
        </form>
        </fieldset>


        <br>

        <fieldset style="margin-right: 50%;">
        <h3>Add Movie</h3>
        <form action="/api/added/" method="post">
            <legend>Movie Name:</legend>
                <input type=text name="movieName">
            <legend>Producer:</legend>
                <input type=int name="producer">
            <legend>Release:</legend>
                <input type=text name="release">
                <br>
                <br>
            <button>Submit</button>
        </form>
        </fieldset>

        <br>

        <a href="/about">About Page</a>

        <div id='root'/>
        <script type="text/babel">

const List = (props, clickHandler) => {
    console.log(props);

    const links = props.items.map((item, i) =>{
        return <li onClick={props.clickHandler} key={i}>{item.movieName}</li>
        if (target.clickHandler) {
            return <li onClick={props.clickHandler} key={i}>{item.movieName} {item.producer} {item.release}</li>
        }
    })
    return <div>Movies in Database<p/>{links}</div>;
}
         
    
        class Movies extends React.Component {  
            constructor(props) {  
              super(props);  
              this.state= {
                  movies: {{{movies}}}
                  
                }; 
                this.handleClick = this.handleClick.bind(this);
            } 
            render() { 
              return ( <div> <h1>Movies</h1>  <List items={this.state.movies} clickHandler={this.handleClick}/>  </div> ); 
            } 

            handleClick = (event)=>{
                
            console.log(event.target)
                    }
                    
                
            }

          
          ReactDOM.render(  <Movies />, document.getElementById('root') );
        </script>
    </body>

</html>
